figures/

data/
data/batch_graft_generation/
data/INDI_database/
data/samples_evaluation/
data/5m2jD_grafting_74A_94R_temp07_s50_250917/
data/6lr7B_grafting_connector_all_temp07_s50_250904/
data/connector_screening/